.DS_Store
.idea
*.log
tmp/

*~$

jgit
.mono
3T
Bitwarden
Code - OSS
Deezloader Remix
Doxygen.org
Electron
GIMP
KeePass
Kitware
NativeScriptSidekick
Postman
RStudio
Skype
Slack
Unknown Organization
VirtualBox
autostart
autostart-scripts
balena-etcher-electron
blender
cef_user_data
configstore
dask
dconf
deepin
deluge
dlv
dunst
enchant
evince
fontconfig
gconf
google-chrome
gtk-2.0
gtk-3.0
guake
htop
ibus
i3blocks
inkscape
kde.org
klavaro
libaccounts-glib
libfm
libreoffice
libvirt
lxterminal
matplotlib
menus
octave
pagraphcontrol
pcmanfm
procps
pulse
redshift
rofi
session
skypeforlinux
vlc
xsettingsd
yay
QtProject.conf
Trolltech.conf
akregatorrc
baloofilerc
bluedevilglobalrc
dolphinrc
emaildefaults
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcminputrc
kcmshell5rc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kiorc
klanguageoverridesrc
kmixctrlrc
kmixrc
konsolerc
kronometerrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimerrc
ktimezonedrc
ktorrentrc
ktorrent_infowidgetrc
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
okularpartrc
okularrc
pavucontrol.ini
plasmanotifyrc
plasmarc
plasmashellrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
powermanagementprofilesrc
sddmthemeinstallerrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
yakuakerc
zoomus.conf
